@font-face {
  font-family: '1';
  font-display: block;
  font-style: normal;
  src: url(~assets/fonts/Rubik-Medium.woff2)format("woff2");
}

@font-face {
  font-family: '2';
  font-display: block;
  font-style: normal;
  src: url(~assets/fonts/Rubik-Bold.woff2)format("woff2");
}
